<%= form_for @diarie do |f| %>
<div class="jumbotron main-view">
  <div class="input-field col s6">
    <%= f.label :title, 'Title'%>
    <%= f.text_field :title%>
  </div>
  <div class="input-field col s6">
    <%= f.label :content, 'Content' %>
    <%= f.text_field :content %>
  </div>
  <div class="input-field col s6">
    <%= f.label :media, 'Media' %>
    <%= f.text_field :media %>
  </div>
     <div class="form-group">
  <%= f.submit "Submit", class:"btn btn-dark" %>
  </div>
  </div>
<% end %>
